p {
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  text-align: top;
  font-weight: bold;
}

.p-topBar {
  text-align: center;
  padding: 5%;
  margin-left: 10%;
  font-size: 2vw;
}
.prendido{
  font-size: 1.8vw;
  font-family: "Open Sans", sans-serif;
  text-align: top;
  font-weight: bold;
}